{
    "printWidth": 100,
    "trailingComma": "all",
    "tabWidth": 2,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.json", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
